workflows/bot-ccd---principal-copy-sin-tag.json
{
  "updatedAt": "2026-05-23T01:57:29.210Z",
  "createdAt": "2026-05-23T01:56:07.066Z",
  "id": "wLwn112P99mNZkwp",
  "name": "Bot CCD - Principal copy",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "90cb26d5-5dda-41c2-89bf-604b67295b4a",
      "name": "Telegram Trigger",
      "webhookId": "70bb6ef2-6128-4f2b-9818-5a28b51d1c19",
      "credentials": {
        "telegramApi": {
          "id": "lNUr9Q6KZ7UwRpVI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Eres el asistente virtual del Centro de Competencias Digitales (CCD) de la Universidad Autónoma de Bucaramanga (UNAB). \n\nTu rol es ayudar a estudiantes de la UNAB con información sobre la Ruta de Competencias Digitales, que se compone de tres pilares:\n1. Competencias Digitales Básicas\n2. Analítica y Contenido Digital  \n3. Transformación Digital\n\nReglas importantes:\n- Responde siempre en español, con tono amigable y cercano.\n- Sé conciso: respuestas de 2-4 párrafos máximo. Usa listas cuando sea útil.\n- Si no sabes la respuesta, dilo honestamente y sugiere contactar al CCD directamente.\n- Si el usuario usa lenguaje ofensivo, pídele respetuosamente que mantenga un tono adecuado.\n- Puedes usar emojis con moderación para hacer la conversación más amena 📚\n\nPor ahora solo puedes responder con tu conocimiento general. En el futuro tendrás herramientas para consultar documentos del CCD, calendario académico y datos de estudiantes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "56a49678-f0e9-4eab-a21e-c9fc0771475c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "d516640f-686e-46da-bb6f-79d28c3c42f1",
      "name": "Send a text message",
      "webhookId": "eceb52e6-e340-4f30-a496-22bf2bc5bab6",
      "credentials": {
        "telegramApi": {
          "id": "lNUr9Q6KZ7UwRpVI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "meta/llama-3.3-70b-instruct",
          "mode": "list",
          "cachedResultName": "meta/llama-3.3-70b-instruct"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        256
      ],
      "id": "f6bd2de6-9633-4d19-9d63-cdd4a67855ba",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Nuh7qgA01pbVqwK8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Consulta el calendario académico oficial del Centro de Competencias Digitales (CCD) de la UNAB. Devuelve una lista de eventos con sus fechas, descripciones, pilares y tipos. \n\nUsa esta herramienta cuando el estudiante pregunte sobre:\n- Fechas de inscripciones, pruebas, cursos, ceremonias o eventos del CCD\n- Cuándo empieza o termina algo (cursos vacacionales, semestre regular, etc.)\n- Procesos académicos con fechas (inscripción, pago, paso a historia académica)\n- Precios o costos asociados a eventos\n\nNO uses esta herramienta para preguntas generales sobre el CCD que no tengan que ver con fechas o eventos.",
        "url": "https://docs.google.com/spreadsheets/d/1T_8oUqHCEdhQTWkI7nqf4eJufQKSOwR9NUMUKkfhBlo/export?format=csv",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        352,
        240
      ],
      "id": "3b6e8679-86f5-4555-bc66-30aa7968a49c",
      "name": "consultar_calendario_ccd"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "En estos datos, busque por favor la información correspondiente con las competencias digitales (por ejemplo, la justificación del cambio, que es la insignia de competencias digitales, etcétera). O sea, recopile toda la información adecuada para el contexto (especialmente, mire los títulos y subtítulos de cada sección para, cuando el usuario le pregunte, responda adecuadamente. ",
        "tableName": "documentos_rag",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        480,
        240
      ],
      "id": "0975cf43-a9aa-4a85-9bf0-15909193b8fe",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "dLoF2ZJBqZrAXh5m",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta/llama-3.3-70b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        400
      ],
      "id": "535b84e0-64e3-4c8b-b125-484af3223cdd",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Nuh7qgA01pbVqwK8",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar_calendario_ccd": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8972270c-a5ba-48c0-b196-bf6342510775",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-23T01:56:07.066Z",
      "createdAt": "2026-05-23T01:56:07.066Z",
      "role": "workflow:owner",
      "workflowId": "wLwn112P99mNZkwp",
      "projectId": "X4Igtoeiiwa2OcOR"
    }
  ],
  "activeVersion": null,
  "tags": []
}