workflows/bot-ccd---leydy-wip-sin-tag.json
{
  "updatedAt": "2026-05-28T14:06:26.751Z",
  "createdAt": "2026-05-25T12:50:16.721Z",
  "id": "uafeHlnAsW7OWK0w",
  "name": "Bot CCD - Leydy WIP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5984,
        2400
      ],
      "id": "2ba6aa62-2f82-43d2-b9c4-60b49a55650e",
      "name": "Send a text message",
      "webhookId": "aad6bdb4-6fba-4c3b-8c17-5f4c0fe8cef8",
      "credentials": {
        "telegramApi": {
          "id": "tiiNbeIxnZ7B3Knu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        5248,
        2400
      ],
      "id": "966db621-c11b-4196-85a6-751e598a54f4",
      "name": "Telegram Trigger",
      "webhookId": "9d8d29f5-9e2a-419d-b93c-111126def002",
      "credentials": {
        "telegramApi": {
          "id": "tiiNbeIxnZ7B3Knu",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Flujo sobre carga de embeddings al documento\n\n**Creado para cargar los embeddings en vectores de 4096**",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4896,
        3936
      ],
      "typeVersion": 1,
      "id": "529f0edd-5e89-4d8a-aa46-c4c5ad642558",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Flujo cargo paginas web\n\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5104,
        3600
      ],
      "typeVersion": 1,
      "id": "d5974915-aa73-4f9b-a620-b6813fa0ff3c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Flujo principal\n\n**Crea el flujo para consultar lo relacionado con competencias digitales**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4912,
        2528
      ],
      "typeVersion": 1,
      "id": "6dc2b1f6-7acd-4cac-bad5-8ff57ca20399",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        5232,
        2640
      ],
      "id": "e643cffd-328c-4edf-9147-9248cc3c1153",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "vEnzA7HNWfjZgZlU",
          "name": "Anthropic account Leydy"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        5344,
        2640
      ],
      "id": "1eb9c78c-fbb6-4d06-8aa4-e90803540a1c",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "7jxDPROgZ6368UGX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "s2NubDMZgkD24XIT",
          "mode": "list",
          "cachedResultUrl": "/workflow/s2NubDMZgkD24XIT",
          "cachedResultName": "oferta workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5824,
        2896
      ],
      "name": "Call oferta workflow",
      "id": "63c4d422-62e9-4c55-b99f-92916f9a6826"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando el usuario quiera ver los cursos ACTUALMENTE OFRECIDOS para el período activo (vacacional o semestre regular) del CCD. Devuelve: nombre del curso, código NRC, pilar al que pertenece, modalidad, horario, fechas de inicio y fin, y precio. NO usar para cursos pasados,  ni para el catálogo general de cursos.",
        "workflowId": {
          "__rl": true,
          "value": "s2NubDMZgkD24XIT",
          "mode": "list",
          "cachedResultUrl": "/workflow/s2NubDMZgkD24XIT",
          "cachedResultName": "oferta workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5824,
        2752
      ],
      "id": "f87c73db-23c8-4871-b928-fe63c8548009",
      "name": "oferta_tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres el asistente virtual oficial del Centro de Competencias Digitales (CCD) de la Universidad Autónoma de Bucaramanga (UNAB). Tu nombre es CCD Bot.\n\n## TU ROL\n\nTu objetivo es ayudar a estudiantes de la UNAB a:\n- Conocer la Ruta de Competencias Digitales y sus tres pilares\n- Consultar la oferta vigente de cursos vacacionales e intensivos\n- Conocer fechas importantes del calendario académico\n- Obtener información sobre la Insignia de Competencias Digitales\n- Consultar sus cursos tomados y notas\n- Contactar al CCD cuando lo necesiten\n\n## CÓMO RESPONDER\n\n1. Responde SIEMPRE en español, con tono amable, profesional y cercano.\n2. Usa emojis con moderación para hacer la conversación más amigable (📚 📅 🎓 ✅ 💡 ⚠️), pero sin abusar.\n3. Estructura las respuestas con saltos de línea y listas cuando ayude a la claridad.\n4. Sé conciso: ve al grano sin sacrificar amabilidad. No repitas información innecesaria.\n5. Si la respuesta es larga, agrúpala visualmente (por pilares, fechas, etc.).\n\n## USO DE HERRAMIENTAS\n\nTienes acceso a varias herramientas. Úsalas SIEMPRE que la pregunta del usuario lo requiera. NUNCA inventes información que pueda venir de una herramienta. Si no tienes la información, usa la herramienta correspondiente.\n\nReglas específicas:\n- Para fechas o eventos del calendario académico (inscripciones, prueba diagnóstica, inicio y fin de cursos) → usa get_calendar\n- Para cursos disponibles este período (con NRC, precios, horarios) → usa oferta_tool\n- Para datos de contacto del CCD → usa get_contacto\n- Para encontrar el id_estudiante por nombre → usa get_student_id_tool\n- Para los cursos tomados por un estudiante → usa get_student_courses_tool\n- Para información teórica e institucional del CCD (los tres pilares, la propuesta del Departamento de Competencias Digitales, el sistema de evaluación, la obligatoriedad, el plan de transición, comparativas con otras universidades, la Insignia de Competencias Digitales y sus ventajas, el fundamento pedagógico) → usa consultar_documento_institucional\n- Para noticias recientes, novedades, blogs, convocatorias o anuncios publicados en la página web de la UNAB → usa el vector store de información web (scraping)\n\n## CONSULTAS PERSONALES (PRIVACIDAD)\n\nSi el usuario pregunta por SUS cursos personales, notas o historial académico:\n\n1. Si el usuario NO te ha dado su id_estudiante ni su nombre completo, pídelo amablemente. Ejemplo:\n   \"Para consultar tus cursos del CCD necesito tu id_estudiante (8 dígitos) o tu nombre completo. ¿Me lo compartes?\"\n\n2. Si te da SOLO el nombre, usa get_student_id_tool primero para obtener el id_estudiante. Luego usa get_student_courses_tool con ese id.\n\n3. Si te da SOLO el id_estudiante, usa directamente get_student_courses_tool.\n\n4. SIEMPRE al final de mostrar información personal, incluye este aviso:\n   \"⚠️ Aviso de privacidad: la información mostrada corresponde al estudiante consultado. La consulta es responsabilidad del usuario que la solicita.\"\n\n5. NUNCA inventes datos personales. Si la herramienta no encuentra al estudiante o no tiene cursos, dilo claramente.\n\n## QUÉ NO HACER\n\n- NO inventes fechas, precios, nombres de cursos ni datos institucionales.\n- NO respondas preguntas que no estén relacionadas con el CCD-UNAB. Si te preguntan sobre otros temas (clima, deportes, política, ayuda con tareas, etc.), redirige amablemente:\n  \"Soy el asistente del Centro de Competencias Digitales de la UNAB. Puedo ayudarte con información sobre la Ruta de Competencias Digitales, cursos, fechas y procesos académicos. ¿Hay algo de eso en lo que pueda ayudarte?\"\n- NO compartas información de un estudiante con otro. Cada consulta es independiente.\n- NO uses lenguaje técnico innecesario. Los estudiantes pueden no conocer términos como \"RAG\", \"endpoint\", \"API\".\n\n## CASOS ESPECIALES\n\n- Si el usuario saluda (\"hola\", \"buenas\", etc.), responde con un saludo cordial breve y ofrécele opciones de lo que puedes hacer. NO uses herramientas para un saludo simple.\n\n- Si el usuario te agradece, responde con cortesía y ofrécete a ayudar en algo más.\n\n- Si el usuario hace una pregunta ambigua, pide aclaración antes de usar una herramienta. Por ejemplo:\n  Usuario: \"¿cuándo es?\"\n  Tú: \"¿Te refieres al inicio de inscripciones, al inicio de clases, o a alguna otra fecha específica?\"\n\n- Si una herramienta devuelve un error o información vacía, infórmaselo al usuario sin tecnicismos. Ofrécele alternativas o sugiérele contactar al CCD directamente.\n\n- Si el usuario usa groserías, lenguaje ofensivo o agresivo, NO respondas con el mismo tono ni te ofendas. Mantén la calma y la cortesía profesional. Si la grosería es solo desahogo o frustración (ej: \"no entiendo nada, qué $%&#\"), reconoce la frustración con empatía y ofrece ayuda concreta. Si el lenguaje ofensivo es directo hacia el bot o reiterado, responde con firmeza amable recordando tu propósito, sin sermonear. Ejemplo:\n  \"Entiendo que puedas estar frustrado. Estoy aquí para ayudarte con lo que necesites del Centro de Competencias Digitales. ¿En qué te puedo colaborar? 😊\"\n  Nunca discutas, nunca insultes de vuelta, y nunca abandones tu rol de asistente del CCD.\n\n## INFORMACIÓN CONTEXTUAL DEL CCD\n\nEl CCD ofrece formación en tres pilares:\n1. Competencias Digitales Básicas (Cultura Digital, Vida en Línea, Interacción Digital)\n2. Analítica y Contenido Digital (Word, PowerPoint, Habilidades en Analítica Digital, Marca Personal Digital, Creación de Contenidos Digitales)\n3. Transformación Digital (Excel, IA Generativa, Marco Legal Digital, Cuidado y Bienestar Digital)\n\nAl completar un curso de cada pilar, el estudiante obtiene la Insignia de Competencias Digitales.\n\nLos cursos pueden tomarse en modalidades:\n- Teleclase (sincrónica con horario fijo)\n- Virtual Canvas (sincrónica con interacción)\n- Virtual asíncrono (a tu ritmo)\n\nLas inscripciones se hacen por Cosmos. El pago puede ser por PSE o cupón de pago.\n\nRecuerda: ante cualquier duda institucional específica, sugiere contactar al CCD directamente: ccdigital@unab.edu.co o (607) 6436111, ext. 1807/1644.\n\nIMPORTANTE: Esta información contextual es un resumen rápido para responder con agilidad preguntas simples. Si hay CUALQUIER diferencia entre este resumen y lo que devuelve la herramienta consultar_documento_institucional, SIEMPRE prioriza la información de la herramienta, que proviene del documento institucional oficial. Para preguntas detalladas sobre pilares, cursos o la insignia, consulta siempre el documento institucional.\n\n## FORMATO DE RESPUESTAS (CRÍTICO)\n\nTus respuestas se envían por Telegram en modo de texto simple. NO uses NINGUNA sintaxis de formato. Solo texto plano con emojis y saltos de línea reales.\n\nPROHIBIDO ABSOLUTAMENTE (causa errores graves):\n- Doble asterisco para negrita: **texto** ❌\n- Asterisco simple: *texto* ❌\n- Guion bajo para cursiva: _texto_ ❌\n- Headers con #, ##, ### o #### ❌\n- Tablas con | columnas | ❌\n- Líneas separadoras --- o === ❌\n- Acentos graves para código ` ❌\n- Caracteres especiales para formato\n\nPERMITIDO Y RECOMENDADO:\n- Texto plano normal\n- Saltos de línea reales (un Enter)\n- Emojis para destacar: 📚 ✅ 📅 🎓 ⚠️ 🔢 🕐 🏷️ 💰 📆 🎯\n- MAYÚSCULAS para títulos de sección\n- Listas con guiones simples o emojis al inicio\n- Numeración con 1. 2. 3.\n\nEJEMPLO CORRECTO de cómo pedir un id_estudiante:\n\nPara consultar tus cursos del CCD necesito tu id_estudiante (8 dígitos) o tu nombre completo. ¿Me lo compartes? 😊\n\nDe esta forma podré mostrarte tu historial de cursos y notas del Centro de Competencias Digitales.\n\nEJEMPLO CORRECTO para mostrar cursos:\n\n📚 CURSOS DISPONIBLES - SUB-CICLO 1\n(12 junio - 23 junio 2026)\n\n🎓 PILAR 1 - Competencias Digitales Básicas\n\n✅ Interacción Digital\n🔢 NRC: 1251\n🏷️ Modalidad: Virtual Canvas\n🕐 Horario: Virtual asíncrono\n📆 12/06/2026 al 04/07/2026\n💰 Precio: $362.550 COP\n\nEJEMPLO INCORRECTO (NUNCA hagas esto):\n\n**Para consultar tus cursos** necesito tu **id_estudiante**...\n### CURSOS DISPONIBLES\n| NRC | Curso |\n|-----|-------|\n| 1251 | Interacción Digital |\n\nRecuerda: SOLO texto plano, saltos de línea reales y emojis. CERO sintaxis de Markdown.",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5408,
        2400
      ],
      "id": "09cc3d07-1e55-4df0-9b9c-c8e7ddb351d1",
      "name": "ReAct Agent con Tools"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N2Wnq0G2ttLS5YRH",
          "mode": "list",
          "cachedResultUrl": "/workflow/N2Wnq0G2ttLS5YRH",
          "cachedResultName": "get_student_id_workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "full_name"
          ],
          "schema": [
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6016,
        2896
      ],
      "name": "Call get_student_id_workflow",
      "id": "632c9971-669a-4a67-8b7c-955965c29ab0"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando necesites encontrar el id_estudiante de un estudiante por su nombre. Pasa el nombre completo o parcial (la búsqueda usa coincidencia por inicio - startswith). Devuelve el id_estudiante y los datos básicos del estudiante. Usa esta herramienta ANTES de get_student_courses_tool cuando el usuario mencione su nombre en lugar de su id_estudiante.",
        "workflowId": {
          "__rl": true,
          "value": "N2Wnq0G2ttLS5YRH",
          "mode": "list",
          "cachedResultUrl": "/workflow/N2Wnq0G2ttLS5YRH",
          "cachedResultName": "get_student_id_workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "full_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('full_name', ``, 'string') }}"
          },
          "matchingColumns": [
            "full_name"
          ],
          "schema": [
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6032,
        2752
      ],
      "id": "493a88a3-a514-4d8b-a898-ad3adf5dd7bf",
      "name": "get_student_id_tool"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para obtener los cursos del CCD que un estudiante ha tomado y sus notas. Requiere el id_estudiante como string. Devuelve la lista de cursos completados con su pilar, período cursado y nota obtenida. Si solo tienes el nombre del estudiante, usa primero get_student_id_tool para obtener el id_estudiante.",
        "workflowId": {
          "__rl": true,
          "value": "RVjc1KtVPzycjCZn",
          "mode": "list",
          "cachedResultUrl": "/workflow/RVjc1KtVPzycjCZn",
          "cachedResultName": "get_student_courses_workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "student_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('student_id', ``, 'string') }}"
          },
          "matchingColumns": [
            "student_id"
          ],
          "schema": [
            {
              "id": "student_id",
              "displayName": "student_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6240,
        2752
      ],
      "id": "dd777ce5-5684-47cd-b4f4-c1964022c246",
      "name": "get_student_courses_tool"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RVjc1KtVPzycjCZn",
          "mode": "list",
          "cachedResultUrl": "/workflow/RVjc1KtVPzycjCZn",
          "cachedResultName": "get_student_courses_workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "student_id"
          ],
          "schema": [
            {
              "id": "student_id",
              "displayName": "student_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6240,
        2896
      ],
      "name": "Call get_student_courses_workflow",
      "id": "1394b8dc-0271-4282-9903-f8bcc4ece381"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Consulta información ACTUAL y PÚBLICA del sitio web de la UNAB obtenida por web scraping: noticias recientes, blogs, convocatorias, nuevos cursos anunciados, certificaciones y novedades del Centro de Competencias Digitales y la universidad en general. Usa esta tool cuando el estudiante pregunte por novedades, noticias recientes, \"qué hay de nuevo\", anuncios, o información publicada en la página web. NO uses esta tool para: el contenido teórico del documento institucional (pilares, propuesta del DCD, plan de transición, comparativas entre universidades, insignia formal → usa consultar_documento_institucional); la oferta vigente con NRC y precios (→ usa oferta_tool); ni fechas del calendario académico como inscripciones, prueba diagnóstica o inicio de clases (→ usa get_calendar).",
        "memoryKey": {
          "__rl": true,
          "value": "documents_store",
          "mode": "id"
        },
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        6448,
        2752
      ],
      "id": "16e2f9b0-cd64-4148-aa00-867c47a96018",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "documents_store",
          "mode": "id"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        6640,
        3440
      ],
      "id": "8e17649d-3719-424c-93b8-1aba853b50db",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json[''][0] }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        6752,
        3600
      ],
      "id": "a29e7691-0255-42cd-88b8-8186657db07f",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "model": "nvidia/nv-embed-v1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        6448,
        2912
      ],
      "id": "90d8c401-0055-4bf0-ba2c-22671e09187c",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "Nuh7qgA01pbVqwK8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nv-embed-v1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        6640,
        3600
      ],
      "id": "dfcef3e6-402c-4ad3-bc06-fa7f16b7896a",
      "name": "Embeddings OpenAI5",
      "credentials": {
        "openAiApi": {
          "id": "Nuh7qgA01pbVqwK8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "T2MkBnTyYpbQJbpe",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5632,
        2896
      ],
      "name": "Call get_calendar",
      "id": "dd01f20f-e1f3-492b-8bd5-533a9b626626"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando el usuario pregunte por fechas específicas del calendario académico del CCD: fechas de inscripción, fechas de inicio o fin de clases, plazos de pago, fechas de sub-ciclos vacacionales, fechas de paso a historia académica, o cualquier evento del calendario. Devuelve la lista completa de eventos académicos con sus fechas. NO usar para precios, contenido de cursos, ni información general.",
        "workflowId": {
          "__rl": true,
          "value": "T2MkBnTyYpbQJbpe",
          "mode": "list",
          "cachedResultUrl": "/workflow/T2MkBnTyYpbQJbpe",
          "cachedResultName": "get_calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5648,
        2752
      ],
      "id": "c62ca160-f973-4584-ae6e-5c6301e80ba8",
      "name": "get_calendar"
    },
    {
      "parameters": {
        "chunkOverlap": 50
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        6752,
        3760
      ],
      "id": "3125953a-8b5b-45b0-b883-799aead5ca6a",
      "name": "Token Splitter1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "larKm1C3Bkr4FVs3",
          "mode": "list",
          "cachedResultUrl": "/workflow/larKm1C3Bkr4FVs3",
          "cachedResultName": "get_contacto"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5440,
        2896
      ],
      "name": "Call get_contacto",
      "id": "ecacb58f-8d25-4e3f-a855-5fe65918e52d"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando el usuario pregunte por información de contacto del CCD: correo electrónico, número de teléfono y extensiones, ubicación física en la UNAB, sitio web institucional, o canales oficiales para comunicarse con el Centro de Competencias Digitales.",
        "workflowId": {
          "__rl": true,
          "value": "larKm1C3Bkr4FVs3",
          "mode": "list",
          "cachedResultUrl": "/workflow/larKm1C3Bkr4FVs3",
          "cachedResultName": "get_contacto"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5456,
        2752
      ],
      "id": "ce60fa3c-d2aa-4e21-b43b-227c8d1aa1d4",
      "name": "Call 'get_contacto'"
    },
    {
      "parameters": {
        "jsCode": "// Limpia formato Markdown problemático antes de enviar a Telegram\nconst datos = $input.first().json;\n\nlet textoOriginal = datos.output || datos.text || '';\n\nlet textoLimpio = textoOriginal\n  // Quitar doble asterisco\n  .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n  // Quitar asterisco simple\n  .replace(/\\*(.*?)\\*/g, '$1')\n  // Quitar guion bajo Markdown (cursiva) — pero NO los que están dentro de palabras\n  .replace(/(?<=\\s|^)_([^_\\n]+?)_(?=\\s|$|[.,!?:])/g, '$1')\n  // Quitar headers Markdown\n  .replace(/^#{1,6}\\s+/gm, '')\n  // Quitar líneas separadoras\n  .replace(/^[\\-=]{3,}$/gm, '')\n  // Quitar acentos graves\n  .replace(/`([^`]+)`/g, '$1')\n  // Quitar bloques de código\n  .replace(/```[\\s\\S]*?```/g, '')\n  // Convertir \\n literal a salto de línea real\n  .replace(/\\\\n/g, '\\n')\n  // Limpiar múltiples saltos de línea\n  .replace(/\\n{3,}/g, '\\n\\n');\n\n// Escapar caracteres especiales de Markdown Legacy que pueden romper Telegram\n// En Markdown Legacy estos caracteres tienen significado: _ * [ ` \n// Los escapamos para que se vean literales\ntextoLimpio = textoLimpio\n  // Escapar guiones bajos dentro de palabras (id_estudiante → id\\_estudiante)\n  .replace(/_/g, '\\\\_')\n  // Escapar asteriscos sueltos restantes\n  .replace(/\\*/g, '\\\\*')\n  // Escapar corchetes (no muy comunes pero por si acaso)\n  .replace(/\\[/g, '\\\\[')\n  .replace(/\\]/g, '\\\\]');\n\nreturn [{ json: { output: textoLimpio } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5760,
        2400
      ],
      "id": "7f0c9e52-01cd-4a2c-8ba0-0cec68228e3a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documentos_rag",
        "embeddingBatchSize": 16,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        5616,
        3936
      ],
      "id": "35881c44-0ae7-4c41-948d-eaa0031da162",
      "name": "Postgres PGVector Store3",
      "credentials": {
        "postgres": {
          "id": "7jxDPROgZ6368UGX",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "Documento Institucional (Componente Competencias Digitales UNAB)"
              },
              {
                "name": "category",
                "value": "institucional"
              },
              {
                "name": "file_name",
                "value": "documento_institucional.pdf"
              },
              {
                "name": "source_type",
                "value": "file"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        5760,
        4080
      ],
      "id": "e8c0b772-2b0c-4cc2-afad-142dedf2de15",
      "name": "Default Data Loader4"
    },
    {
      "parameters": {
        "model": "nvidia/nv-embed-v1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        5600,
        4160
      ],
      "id": "c41aec9b-4095-45b3-8a6f-9921ff636c4c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Nuh7qgA01pbVqwK8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, text\nFROM documentos_rag\nWHERE metadata->>'file_name' = 'documento_institucional.pdf'\n  AND metadata->>'content_hash' IS NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5232,
        3936
      ],
      "id": "c40c131c-40ed-487b-b868-d8654f83c2ae",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "7jxDPROgZ6368UGX",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Consulta el documento institucional oficial sobre el modelo del Centro de Competencias Digitales (CCD) de la UNAB. Usa esta tool cuando el estudiante pregunte sobre temas teóricos, estructurales o de fundamento como: los 3 pilares de competencias digitales, la propuesta del Departamento de Competencias Digitales (DCD), sistema de evaluación, obligatoriedad, requisitos formales, plan de transición desde el modelo actual de Informática, comparativas con otras universidades (EAFIT, Sabana, Norte, Andes, Nacional, ITESM, MIT, etc.), fundamento pedagógico, PEI, justificación institucional, Insignia de Competencias Digitales y sus ventajas formales para la empleabilidad. NO uses esta tool para cursos vacacionales específicos, fechas de inscripción concretas, NRC, horarios o precios actuales (para eso usa oferta_tool o el Simple Vector Store de cursos vacacionales).",
        "tableName": "documentos_rag",
        "topK": 5,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "category",
                "value": "Institucional"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        6736,
        2752
      ],
      "id": "dbabee12-2a0f-44f3-be54-549569d4f8be",
      "name": "consultar_documento_institucional",
      "credentials": {
        "postgres": {
          "id": "7jxDPROgZ6368UGX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nv-embed-v1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        6736,
        2928
      ],
      "id": "95401ec3-c5be-49d6-afe6-9b0da7002246",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Nuh7qgA01pbVqwK8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        5232,
        3424
      ],
      "id": "cd14ccfa-4a6c-4181-a1d9-e67d979c9dfd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://unab.edu.co/?s=competencias+digitales",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5424,
        3264
      ],
      "id": "db27a516-8726-4720-9cb6-59f27f992e84",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "urls",
              "cssSelector": "article.et_pb_post > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        5584,
        3264
      ],
      "id": "36eaef84-6458-405a-ac8c-02b8fd455138",
      "name": "HTML"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6144,
        3456
      ],
      "id": "1c033f09-fe60-4a97-b982-781ea30bd880",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5728,
        3264
      ],
      "id": "549b822d-4cbc-40a9-91b2-a0d0f6870b1e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6320,
        3536
      ],
      "id": "857d9ae4-2c63-4f92-9acc-6ba54c451930",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "cssSelector": "body",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        6464,
        3536
      ],
      "id": "d04fc95d-6a98-42b0-bc4d-fef0d8bb0678",
      "name": "HTML1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5936,
        3456
      ],
      "id": "0b700239-c29d-4fbf-806f-3510ee4bc98b",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const manualUrls = [\n  \"https://unab.edu.co/cursos-de-vacacionales-intensivos-de-competencias-digitales/\"\n];\n\nreturn manualUrls.map(urls => ({ json: { urls } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        3568
      ],
      "id": "867109d9-78ba-4972-92ea-0fe7ff52eed5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "## Scrape blog"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5104,
        3200
      ],
      "typeVersion": 1,
      "id": "64a82145-38c2-48a0-894e-85cfc5f4343c",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "ReAct Agent con Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ReAct Agent con Tools",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "ReAct Agent con Tools",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "oferta_tool": {
      "ai_tool": [
        [
          {
            "node": "ReAct Agent con Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ReAct Agent con Tools": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_student_id_tool": {
      "ai_tool": [
        [
          {
            "node": "ReAct Agent con Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_student_courses_tool": {
      "ai_tool": [
        [
          {
            "node": "ReAct Agent con Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "ReAct Agent con Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI5": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "get_calendar": {
      "ai_tool": [
        [
          {
            "node": "ReAct Agent con Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Call 'get_contacto'": {
      "ai_tool": [
        [
          {
            "node": "ReAct Agent con Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader4": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_documento_institucional": {
      "ai_tool": [
        [
          {
            "node": "ReAct Agent con Tools",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "consultar_documento_institucional",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8b8df2e0-6cb5-4976-a772-a784bc053871",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-25T12:50:16.721Z",
      "createdAt": "2026-05-25T12:50:16.721Z",
      "role": "workflow:owner",
      "workflowId": "uafeHlnAsW7OWK0w",
      "projectId": "TLL7K6WmCXFcfqWV"
    }
  ],
  "activeVersion": null,
  "tags": []
}