workflows/my-workflow-sin-tag.json
{
  "updatedAt": "2026-05-23T17:34:33.910Z",
  "createdAt": "2026-05-23T17:34:02.070Z",
  "id": "d7ROI6KdeGfbpe6x",
  "name": "My workflow",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "db2dfe44-638c-48d1-a187-f0ba42431bf5",
      "name": "Telegram Trigger",
      "webhookId": "c86e4d4c-651f-4de4-8ef5-278dabb7bab3",
      "credentials": {
        "telegramApi": {
          "id": "lNUr9Q6KZ7UwRpVI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Eres el asistente virtual del Centro de Competencias Digitales (CCD) de la Universidad Autónoma de Bucaramanga (UNAB). \n\nTu rol es ayudar a estudiantes de la UNAB con información sobre la Ruta de Competencias Digitales, que se compone de tres pilares:\n1. Competencias Digitales Básicas\n2. Analítica y Contenido Digital  \n3. Transformación Digital\n\nReglas importantes:\n- Responde siempre en español, con tono amigable y cercano.\n- Sé conciso: respuestas de 2-4 párrafos máximo. Usa listas cuando sea útil.\n- Si no sabes la respuesta, dilo honestamente y sugiere contactar al CCD directamente.\n- Si el usuario usa lenguaje ofensivo, pídele respetuosamente que mantenga un tono adecuado.\n- Puedes usar emojis con moderación para hacer la conversación más amena 📚\n\nPor ahora solo puedes responder con tu conocimiento general. En el futuro tendrás herramientas para consultar documentos del CCD, calendario académico y datos de estudiantes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "299ee832-c645-44f7-bcd8-6f2650373959",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "b1bb61e7-6815-40ed-8122-fa3740bc053b",
      "name": "Send a text message",
      "webhookId": "4f0af94c-bbf9-473a-86a4-5f5ae72e3a64",
      "credentials": {
        "telegramApi": {
          "id": "lNUr9Q6KZ7UwRpVI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "meta/llama-3.3-70b-instruct",
          "mode": "list",
          "cachedResultName": "meta/llama-3.3-70b-instruct"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        256
      ],
      "id": "e5474ef3-f0b5-4f05-83a2-2aba2507db94",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Nuh7qgA01pbVqwK8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Consulta el calendario académico oficial del Centro de Competencias Digitales (CCD) de la UNAB. Devuelve una lista de eventos con sus fechas, descripciones, pilares y tipos. \n\nUsa esta herramienta cuando el estudiante pregunte sobre:\n- Fechas de inscripciones, pruebas, cursos, ceremonias o eventos del CCD\n- Cuándo empieza o termina algo (cursos vacacionales, semestre regular, etc.)\n- Procesos académicos con fechas (inscripción, pago, paso a historia académica)\n- Precios o costos asociados a eventos\n\nNO uses esta herramienta para preguntas generales sobre el CCD que no tengan que ver con fechas o eventos.",
        "url": "https://docs.google.com/spreadsheets/d/1T_8oUqHCEdhQTWkI7nqf4eJufQKSOwR9NUMUKkfhBlo/export?format=csv",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        352,
        240
      ],
      "id": "277b6988-6310-413c-8ce0-f0392f3dcea6",
      "name": "consultar_calendario_ccd"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Se encarga de conseguir toda la información relevante para el centro de competencias digitales, como ¿Qué es la insignia de competencias digitales?\n¿Cuántas horas duran los cursos? Para eso mire todos los subtítulos y títulos correspondientes",
        "tableName": "documentos_rag",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        512,
        224
      ],
      "id": "11154eb0-f183-4d77-b4a4-5b045eb5083c",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "7jxDPROgZ6368UGX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/embed-qa-4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        432
      ],
      "id": "3ee6cb8f-30fc-4233-be43-14f254b3f13a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Nuh7qgA01pbVqwK8",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar_calendario_ccd": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "47e255b3-b69f-417c-bb32-1fb80416225e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-23T17:34:02.070Z",
      "createdAt": "2026-05-23T17:34:02.070Z",
      "role": "workflow:owner",
      "workflowId": "d7ROI6KdeGfbpe6x",
      "projectId": "X4Igtoeiiwa2OcOR"
    }
  ],
  "activeVersion": null,
  "tags": []
}